a:link,a:active,a:visited,a.postlink {color:#808080;text-decoration:none;}
a:hover {color:#A9A9A9;}
body { background-color: white; font-family: Tahoma, Arial; text-align : justify;}
body, table { font-size: 10pt; }
.chitemsel { background-color:#DCDCDC; color: black; padding:2px; }
h1,h2,h3,h4 { color: #808080 }

