<body>
  <script>
    document.cookie = "third-party=yes;";
    if (/third-party=yes/.test(document.cookie)) {
      window.parent.postMessage("MM:3PCsupported", "*");
    } else {
      window.parent.postMessage("MM:3PCunsupported", "*");
    }
  </script>
</body>
